<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>

{% if user.is_authenticated %}
  <h2>Hello {{ user }}</h2>
  <button type="submit"> <a href="{% url 'signout' %}">Signout</a></button>
{% else %}
  <button type="submit"> <a href="{% url 'signup' %}">Signup</a></button>
  <button type="submit"> <a href="{% url 'signin' %}">Signin</a></button>
{% endif %}

</body>
</html>